import * as React from 'react';

<% if (style) { %>import style from './<%= name %>.css';<% } %>

interface IProps {
  TODO: string
}

class <%= name %> extends React.Component<IProps> {
  render(){
    return (
      <div <% if (style) { %>className={style.container}<% } %>>
        {'hello component'}
      </div>
    );
  };
};

export default <%= name %>;