import * as React from 'react';

<% if (style) { %>import style from './<%= name %>.css';<% } %>

interface IProps {
}

class <%= name %> extends React.PureComponent<IProps> {
  render(){
    return <div <% if (style) { %>className={style.container}<% } %>></div>;
  };
};

export default <%= name %>;